:root {
  --polarbear-bg: url(https://raw.githubusercontent.com/HighFiveYourWiFi/FNP_MD3D/db3ecdd5d3d485e6147f22bff6f498fcc053053c/polar_bear_bg.svg)
      repeat top left / 250px 250px,
    #222228;
  --surface-01: #222224;
  --surface-02: #2c2b2f;
  --slategray-text-deco: underline slategray 2px;
}

body {
  background: var(--polarbear-bg);
}

.top-nav {
  background: var(--surface-01);
}

.nav-tab-menu__items,
.top-nav__dropdown ul {
  background: var(--surface-02);
}

.secondary-nav {
  background: linear-gradient(90deg, #271f2f 0, #322435 50%, #271f2f);
}

.nav-tab--active__link {
    text-decoration: var(--slategray-text-deco);
}
