:root {
  --polarbear-bg: url(https://highfiveyourwifi.github.io/polar_bear_bg.svg)
      repeat top left / 250px 250px,
    #222228;
  --surface-01: #222224;
  --surface-02: #2c2b2f;
  --slategray-text-deco: underline slategray 2px;
}

body {
  background: var(--polarbear-bg);
}

.top-nav {
  background: var(--surface-01);
}

.nav-tab-menu__items,
.top-nav__dropdown ul {
  background: var(--surface-01);
}

.secondary-nav {
  background: var(--surface-02);
}

.nav-tab--active__link {
  text-decoration: var(--slategray-text-deco);
}

.nav-tab__link:hover,
.nav-tab--active__link:hover {
  text-decoration: var(--slategray-text-deco);
}

.form__textarea {
  border-radius: 16px;
}

.form__button--text:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: transparent;
}

.form__standard-icon-button:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: transparent;
}

.panel__tab {
  background-color: var(--data-table-th-bg);
  border-bottom: 2px solid var(--data-table-th-bg);
}

.panel__tab:hover {
  filter: brightness(1.1);
}

.panel__tab:not(.chatbox__tab):hover {
  border-radius: 5px;
}

.torrent-card__link:hover {
  filter: brightness(1.1);
}

.featured-carousel__slide .torrent-card {
  transition: transform 0.3s ease;
}

.featured-carousel__slide .torrent-card:hover {
  transform: scale(1.01);
}
