:root {
  --polarbear-bg: url(https://highfiveyourwifi.github.io/polar_bear_bg.svg)
      repeat top left / 250px 250px,
    #171f2c;
  --surface-01: #171f2c;
  --surface-02: #0a111b;
  --quick-search-border-radius: 10px;
}

body {
  background: var(--polarbear-bg);
}

main {
  border-radius: 10px;
}

.top-nav__username--highresolution:hover {
  filter: brightness(1.15);
}

.top-nav--right__icon-link:hover {
  filter: brightness(1.1);
}

.form__button--text:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: transparent;
}

.form__standard-icon-button:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: transparent;
}

.panel__tab {
  background-color: var(--data-table-th-bg);
  border-bottom: 2px solid var(--data-table-th-bg);
}

.panel__tab:hover {
  filter: brightness(1.1);
  border-radius: 5px;
}

.torrent-card__link:hover {
  filter: brightness(1.1);
}

.featured-carousel__slide .torrent-card {
  transition: transform 0.3s ease;
}

.featured-carousel__slide .torrent-card:hover {
  transform: scale(1.01);
}

.featured-carousel__slide .torrent-card {
  transition: transform 0.3s ease;
}

.featured-carousel__slide .torrent-card:hover {
  transform: scale(1.01);
}
